beautifulsoup4==4.11.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cryptography==37.0.4
docopt==0.6.2
fonttools==4.34.4
html5lib==1.1
idna==3.3
lxml==4.9.1
numpy==1.23.1
pandas==1.4.3
pdfminer.six==20220524
pdfplumber==0.7.4
Pillow==9.2.0
pipreqs==0.4.11
pycparser==2.21
PyMuPDF==1.20.1
pymupdf-fonts==1.0.5
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.0
urllib3==1.26.11
Wand==0.6.9
webencodings==0.5.1
xlrd==2.0.1
yarg==0.1.9
